@import url(./variaveis.css);

header {
  background-color: var(--color-background);
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
}

nav {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav .logo {
  height: 100%;
}

nav .logo img {
  height: 100%;
}

nav .search {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  width: 50%;
}

nav .search .input-search {
  font-family: var(--font-button);
  width: 100%;
  height: 45px;
  padding-left: 2.5rem;
  border: 2px solid var(--color-purple);
  border-radius: 12px;
  background-color: var(--color-background);
  caret-color: var(--color-purple);
  outline: none;
  color: var(--color-purple);
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

nav .search .input-search::placeholder {
  color: var(--color-purple);
}

nav .search .input-search:focus {
  box-shadow: 0 0 0 2.5px var(--color-light-gray);
}

nav .search .search-icon {
  position: absolute;
  left: 1rem;
  fill: var(--color-purple);
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  z-index: 1;
}

nav .search .input-search::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* ---------------- CART ---------------- */
nav .cart button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: var(--color-purple);
  outline: 3px var(--color-purple) solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

nav .cart button .itens-counter {
  color: var(--color-purple);
  background-color: var(--color-background);
  border-radius: 50%;
  font-weight: 700;
  width: 17px;
  height: 17px;
  transition: 400ms;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-button);
}

nav .cart button svg path {
  transition: 400ms;
}

nav .cart button:hover {
  background-color: transparent;
}

nav .cart button:hover .itens-counter {
  color: var(--color-purple);
}

nav .cart button:hover svg path {
  fill: var(--color-purple);
}

/* ---------------- LOGIN ---------------- */
nav .login button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  gap: 15px;
  background-color: var(--color-green);
  outline: 3px var(--color-green) solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

nav .login button .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
  font-family: var(--font-button);
}

nav .login button svg path {
  transition: 400ms;
}

nav .login button:hover {
  background-color: transparent;
}

nav .login button:hover .text {
  color: var(--color-green);
}

nav .login button:hover svg path {
  fill: var(--color-green);
}

/* ---------------- CATEGORIES ---------------- */
.categories .nav-list {
  height: 4.5vh;
  background-color: var(--color-green);
  display: grid;
  grid-template-columns: 8% 8% 8% 8% 8%;
  align-items: center;
  justify-content: start;
  gap: 1vw;
  padding-left: 1.5%;
  list-style: none;
}

.categories .nav-list .nav-item{
  text-align: center;
}

.categories .nav-list .nav-item a {
  font-family: var(--font-menu);
  text-decoration: none;
  color: var(--color-background);
  font-weight: 600;
  transition: 0.3s;
  line-height: 1.5;
  display: inline-block;
}

.categories .nav-list .nav-item a:hover {
  transform: translateY(-2.5px);
}

.categories .nav-list .nav-item a:active {
  transform: translateY(1px);
}

nav .login.connected button {
  padding: 10px;         /* Diminuir padding para ficar quadrado */
  width: 45px;           /* Largura igual à altura para circular */
  height: 45px;          /* Altura fixa */
  border-radius: 50%;    /* Deixa totalmente redondo */
  gap: 0;                /* Remove gap */
}


#link-login{
  text-decoration: none;
}