@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-green: #038C65;
    --color-purple: #71498C;
    --color-background: #FFF7E6;
    --color-input: #151717;

    --font-menu: "Open Sans";
    --font-button: "Roboto";
    --font-title: "Montserrat";
}